        body{
            background-color: #264653;
        }

        .main{
            padding-top: 73px;
        }

        .main-wrapper{
            display: flex;
            width: 626px;
            height: 359px;
            background-color: white;
            border-radius: 15px;
            margin: 0 auto;
        }

        .intro{
            min-width: 313px;
            background-color: #E76F51;
            border-radius: 15px 0 0 15px;
        }

        .intro-wrapper{
            width: 140px;
            margin: 92px auto;
        }

        .intro-wrapper>h2{
            font-family: 'Roboto', sans-serif;
            font-size: 15px;
            font-weight: 500;
            color: white;
        }

        .intro-wrapper>hr{
            border: none;
            border-top: 2px solid white;
            width: 50px;
            margin-top: 8px;
        }

        .intro-wrapper>p{
            font-family: 'Roboto', sans-serif;
            font-size: 12px;
            font-weight: 300;
            color: white;
            margin-top: 32px;
        }

        .intro-wrapper>button{
            background-color: #E76F51;
            border: 1px solid white;
            border-radius: 20px;
            width: 91px;
            height: 36px;
            margin-top: 36px;
            color: white;
            font-size: 12px;
        }

        .login{
            min-width: 313px;
            background-color: white;
            border-radius: 0px 15px 15px 0;
        }

        .login-wrapper{
            width: 180px;
            margin: 78px auto;
        }

        .login-wrapper>h2{
            font-family: 'Roboto', sans-serif;
            font-size: 15px;
            font-weight: 600;
            color: #3E3E3E;
            text-align: center;
        }

        .login-wrapper>hr{
            border: none;
            border-top: 2px solid #E76F51;
            width: 20px;
            margin: 0 auto;
            margin-top: 8px;
        }
        .login-form-wrapper{
            margin-top: 57px;
        }

        .login-form-wrapper > input{
            margin: 10px auto;
            border: none;
            border-bottom: 1px solid #DDDDDD;
            color: #DDDDDD;
            font-size: 10px;
            width: 180px;
        }

        .login-form-wrapper > input:focus{
            outline: none;
        }

        .login-form-wrapper > button{
            display: block;
            width: 140px;
            height: 28px;
            border: none;
            border-radius: 20px;
            background-color: #E76F51;
            margin: 0 auto;
            margin-top: 48px;
            color: white;
            font-size: 12px;
            font-weight: 600;
        }