.main{
    width: 1000px;
    display: flex;
    background-color: #EAEAEA;
    margin: 0 auto;
}

.menu{
    background-color: #264653;
    width: 207px;
    height: 500px;
}

.content{
    width: 793px;
}

.c-header{
    width: 755px;
    height: 48px;
    margin: 0 auto;
    margin-top: 13px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.c-header>.menu-title-wrapper_a{
    display: flex;
}

.c-header>.menu-title-wrapper_a>.menu{
    background-color: white;
    border-radius: 30px;
    width: 30px;
    height: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.c-header>.menu-title-wrapper_a>.menu>hr{
    width: 10px;
    border: none;
    border-top: 1px solid black;
    margin-bottom: 3px;
}

.c-header>.menu-title-wrapper_a>.title{
    margin-left: 14px;
}

.c-header>.menu-title-wrapper_a>.title>h1{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #3E3E3E;
}

.c-header>.user{
    display: flex;
    align-items: center;
}
.c-header>.user>.user-name{
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 400;
    margin-right: 17px; 
}

.c-header>.user>.user-avatar{
    width: 28px;
    height: 28px;
    border-radius: 28px;
    background-color: #D4D4D4;
    display: flex;
    margin-right: 17px;
    justify-content: center;
}

.c-header>.user>.user-avatar>img{
    width: 18px;
    height: 18px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.c-header>.user>.user-notification{
    width: 40px;
    height: 40px;
}

.c-header>.user>.user-notification>.icon{
    width: 39px;
    height: 39px;
    border-radius: 38px;
    background-color: #2A9D8F;
    display: flex;
    justify-content: center;
}

.c-header>.user>.user-notification>.icon>img{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 21px;
    height: 21px;       
}

.c-header>.user>.user-notification>.qnt{
    position: relative;
    top: -110%;
    left: 50%;
    width: 26px;
    height: 16px;
    border-radius: 15px;
    background-color: #E76F51;
    
}
.c-header>.user>.user-notification>.qnt>span{
    font-size: 9px;
    position: relative;
    top:-10%;
    left:35%;
}


.c-display{
    width: 755px;
}
.c-display-wrapper{
    margin: 0 auto;
    margin-top: 62px;
    width: 615px;
    height: 74px;
    display: flex;
    justify-content: space-between;
}

.c-display-wrapper>.asd{
    padding-right: 8px;
    width: 172px;
    height: 58px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 2px 2px 2px #AAAAAA;
    display: flex;
}


.c-display-wrapper>.asd>.icon{
    flex-shrink: 0;
    position: relative;
    top: -40%;
    margin: 0 13px 0 13px;
    width: 50px;
    height: 50px;
    border-radius: 5px;
}

.c-display-wrapper>.asd>.info{
    margin-top: 9px;
    width: 100%;
}

.c-display-wrapper>.asd>.info>.title{
    text-align: right;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 10px;
    color: #3E3E3E;
}

.c-display-wrapper>.asd>.info>.value{
    text-align: right;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #3E3E3E;
}

.c-display-wrapper>.saldo>.icon{
    background-color: #E9C46A;
}

.c-display-wrapper>.in>.icon{
    background-color: #F4A261;
}

.c-display-wrapper>.out>.icon{
    background-color: #E76F51;
}

.c-display-wrapper>.asd>.icon>img{
    width: 24px;
    height: 24px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.c-menu{
    background-color: white;
    border-radius: 5px;
    box-shadow: 2px 2px 2px #aaaaaa;
    width: 719px;
    height: 45px;
    margin: 0 auto;
    margin-top: 40px;
}

.c-menu-wrapper{
    width: 590px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.c-menu-left{
    font-size: 0px;
}

.c-menu-left>.inserir{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 12px;
    color: #3E3E3E;
    width: 67px;
    height: 23px;
    border: none;
    border: 1px solid #D4D4D4;
    background-color: white;
    border-radius: 5px 0 0 5px;
}

.c-menu-left>.categorias{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 12px;
    color: #3E3E3E;
    width: 87px;
    height: 23px;
    border: none;
    border: 1px solid #D4D4D4;
    background-color: white;
}

.c-menu-left>.excluir{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 12px;
    color: #3E3E3E;
    width: 33px;
    height: 23px;
    border: none;
    border: 1px solid #D4D4D4;
    background-color: white;
    border-radius: 0px 5px 5px 0px;
}
.c-menu-left>.excluir>img{
    width: 11px;
    height: 11px;
}

.c-menu-right{
    width: 192px;
    height: 23px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.c-menu-right>.filter{
    
}

.c-menu-right>.filter>img{
    position: relative;
    width: 15px;
    height: 15px;
    
}

.c-menu-right>p{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 12px;
    color: #3E3E3E;
}

.c-menu-right>select{
    background-color: white;
    border: none;
    border-radius: 5px;
    border: 1px solid #D4D4D4;
    width: 109px;
    height: 23px;
    text-align: center;
    font-size: 10px;
    color: #3E3E3E;
}

.c-list{
    width: 719px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 2px 2px 2px #AAAAAA;
    margin: 0 auto;
    margin-top: 17px;
    padding-top: 9px;
}

.c-list-wrapper{
    width: 653px;
    margin: 0 auto;
}

.c-list-table{
    border-collapse:collapse;
    margin: 0 auto;

}

.c-list-table>thead>tr{
    height: 28px;
    border-bottom: 2px solid black;
}
.c-list-table img{
    width: 11px;
    height: 11px;
}

.c-list-table td{
    width: 11px;
    height: 11px;
}

.c-list-table input[type=checkbox]{
    width: 10px;
    height: 10px;
    border: none;
    /* box-shadow: 1px 1px 1px #AAAAAA; */
}

.c-list-table>tbody>tr{
    height: 24px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 10px;
    color: #3E3E3E;
    border-bottom: 1px solid #A8A8A8;
}

.c-list-table>thead>tr>td:nth-child(1),
.c-list-table>thead>tr>td:nth-child(2),
.c-list-table>thead>tr>td:nth-child(3){
    width: 60px;
}

.c-list-table>tbody>tr>td:nth-child(4){
    width: 90px;
    color: #2A9D8F;
}

.c-list-table>tbody>tr>td:nth-child(5){
    width: 200px;
    color: #2A9D8F;
}

.c-list-table>tbody>tr>td:nth-child(6){
    width: 90px;
    color: #2A9D8F;
}
.categorias_manager{
    display: none;
    width: 550px;
    height: 260px;
    background-color: white;
    box-shadow: 2px 2px 2px #aaaaaa;
    position: absolute;
    z-index: 1;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    font-size: 0;
}

.categorias_manager>.title{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #3E3E3E;
    margin: 10px 0 0 10px;
}

.categorias_manager_menu{
    width: 100px;
    margin: 0 auto;

}

.categorias_manager_menu>button{
    background-color: white;
    border: none;
    border: 1px solid #D4D4D4;
    width: 23px;
    height: 23px;
}

.categorias_manager_menu>button>img{
    height: 11px;
    width: 11px;
}

.categorias_manager_menu>button.inserir{
    border-radius: 5px 0 0 5px;
}

.categorias_manager_menu>button.editar{
    border-radius: 0px 5px 5px 0px;
}

.categorias_manager>.lista{
    width: 500px;
    margin: 0 auto;
    margin-top: 6px;
}
.categorias_manager>.lista>table{
    border-collapse: collapse;
}

.categorias_manager>.lista>table>thead>tr{
    border-bottom: 2px solid black;
    width: 500px;
}

.categorias_manager>.lista>table>thead>tr>td:nth-child(1){
    width: 30px;
}

.categorias_manager>.lista>table>thead>tr>td:nth-child(2){
    width: 470px;
}

.categorias_manager>.lista>table>tbody>tr>td{
    height: 24px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 12px;
    color: #3E3E3E;
    text-align: center;
    vertical-align: middle;
    border-bottom: 1px solid #D4D4D4;
    
}

.categorias_manager>.lista>table>tbody>tr>td>input[type=checkbox]{
    width: 11px;
    height: 11px;
}

.transacao_form{
    display: flex;
    display: none;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 280px;
    background-color: white;
    z-index: 1;
    border-radius: 5px;
    box-shadow: 2px 2px 2px #d4d4d4;
    
}

.transacao_form>form{
    margin: 0 auto;
}

.transacao_form>form label{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 12px;
    color: #3E3E3E;
}

.transacao_form_wrapper{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 390px;
}

.transacao_form_left,
.transacao_form_right{
    width: 180px;
    height: 190px;
    margin-top: 30px;
}

.transacao_form_left input,
.transacao_form_left select,
.transacao_form_right input,
.transacao_form_right select{
    background-color: white;
    border-radius: 5px;
    border: none;
    border: 1px solid #4d4d4d;
    width: 180px;
    height: 25px;
    box-shadow: 2px 2px 2px #d4d4d4;
    padding-left: 5px;
}

.transacao_form_buttons input[type=button],
.transacao_form_buttons input[type=button]{
    background-color: white;
    border-radius: 5px;
    border: none;
    border: 1px solid #4d4d4d;
    width: 80px;
    height: 25px;
}
